# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env

# Virtual Environment
venv/
env/
ENV/
.venv/
.env/
.ENV/
virtualenv/
.virtualenv/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# React build
/build
.env.local
.env.development.local
.env.test.local
.env.production.local

# ChromaDB
chroma_db/ 

# Storage files
storage/
backend/openai_llama_index_storage/
backend/processed_audio/
*.json
*.pack
*.pack.gz
*.dylib
*.sostorage/
